$sideMenuColor: #374756;
$sideMenuColorDarkened: darken($sideMenuColor, 10%);
$menuItemHeight: 3.6rem;
// @mixin menuIcon {}

html {
  height: 100%;
  font-size: calc(0.8vh + 0.5vw);
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #f4f4f4;
  height: 100%;
  overflow: hidden;
}

/*================================= SIDE MENU =================================*/

.navMenu {
  background-color: $sideMenuColor;
  height: 100%;
  position: absolute;
  top: 0;
  left: -17.3rem;
  transition: 0.5s;
  cursor: pointer;
  &--open {
    left: 0;
    .navMenu__menuItems {
      width: 100%;
    }
  }
}

.navMenu__sandwich {
  background-color: $sideMenuColorDarkened;
  height: $menuItemHeight;
}

.navMenu__logo {
  background-color: #fff;
  height: $menuItemHeight;
  padding: .6rem;
}

// .navMenu__logo,
.navMenu__sandwichIcon {
  filter: invert(1);
  height: 2.4rem;
  margin: .6rem;
  // @include menuIcon();
}

.navMenu__menuItems {
  list-style-type: none;
  float: right;
  width: $menuItemHeight;
  transition: 0.5s;
}

.navMenu__menuItem {
  width: 100%;
  border-bottom: 0.1rem solid $sideMenuColorDarkened;
  height: $menuItemHeight;
  &:hover {
    background-color: $sideMenuColorDarkened;
  }
}

.navMenu__menuLink { 
  display: flex;
  width: 100%;
  height: $menuItemHeight;
  justify-content: center;
  align-items: center;
}

.navMenu__menuIcon {
  height: 35%;
}

/*================================= SEARCH PANEL =================================*/

.navTop {
  display: flex;
  height: $menuItemHeight;
  padding: 0.5rem;
  transition: .5s;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgb(165, 164, 164);
  margin-bottom: 16px;
  margin-left: $menuItemHeight;
  &--squeezed {
    margin-left: 21rem;
  }
}

.navTop__search {
  display: inherit;
  height: 100%;
  flex: 1;
}

.navTop__loupe {
  height: calc(100% - 1rem);
  margin: 0.5rem;
}

.navTop__input {
  font-size: 1.5rem;
  height: 100%;
  flex: 1;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

/*================================= MAIN SECTION =================================*/

.main {
  width: 80%;
  height: 47rem;
  overflow: hidden;
  padding: 1.5rem 2.5rem;
  transition: .5s;
  margin-left: 10%;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: 15rem;
  grid-template-areas: 
    "n1 n2 n3"
    "n4 n5 n6"
    "n7 n8 n9";
  &--layout1 {
    grid-template-areas:
      "n1 n1 n2"
      "n3 n4 n5"
      "n6 n7 n5"
      "n8 n9 .";
  }
  &--layout2 {
    grid-template-areas: 
      "n1 n2 n2"
      "n3 n4 n4"
      "n5 n6 n6"
      "n7 n8 n9";
  }
  &--layout3 {
    grid-template-areas: 
      "n1 n2 n3"
      "n4 n5 n5"
      "n6 n5 n5"
      "n7 n8 n9";
  }
  &--layout4 {
    grid-template-areas: 
      "n1 n2 n3"
      "n4 n5 n6"
      "n4 n5 n6"
      "n7 n8 n9";
  }
  &--layout5 {
    grid-template-areas: 
      "n1 n2 n2"
      "n3 n2 n2"
      "n4 n2 n2"
      "n5 n6 ."
      "n7 n8 n9";
  }
  &--squeezed {
    margin-left: 21rem;
  }
}

.main__gridItem {
  background-color: $sideMenuColor;
  text-align: center;
  font: 2em sans-serif;
  padding-top: 3rem;
  color: #fff;
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      grid-area: n#{$i};
    }
  }
}
